$color1                                 = #000000
$color2                                 = #ffffff
$color3                                 = #11b9ff
$color4                                 = #6ed4ff

$errorColor                             = #f67979
$successColor                           = #70bc2d
$backgroundSuccessColor                 = #e9f8c8
