/***************************************/


/* Mediaqueries Tablet ( >= 640px) */
// @media all and ( min-width: $smallScreenContentMaxWidth )


/* Mediaqueries Desktop ( >= 960px) */
// @media all and ( min-width: $mediumScreenContentMaxWidth )


/* Mediaqueries Large ( >= 1400px) */
// @media all and ( min-width: $largeScreenContentMaxWidth )
