/*!
 *  Socle HTML
 *  @author: Erwan Chedaleux
 *  @version: 0.0.1
 *  
*/

* {
  box-sizing: border-box;
}
html,
body {
  line-height: 1.61803398875;
  background-color: #fff;
  color: #444;
}
html {
  font-size: 62.5%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}
body,
div,
ul,
li {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
  max-width: 100%;
}
figure {
  margin: 0;
}
ul {
  list-style: none;
}
.site-cookies {
  display: none;
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  background-color: #6ed4ff;
  color: #fff;
  padding: 10px;
  width: 100%;
}
.site-cookies.active {
  display: table;
}
.sc-text {
  display: table-cell;
  vertical-align: middle;
}
.sc-paragraph {
  display: inline;
}
.sc-lnk {
  color: #fff;
  text-decoration: underline;
}
.sc-btn {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.scb-close {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  padding: 5px 0;
  cursor: pointer;
  transition: all 0.5s ease;
}
.scb-bar {
  position: absolute;
  left: 0;
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  top: 14px;
  left: 0;
}
.scb-bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.scb-bar:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media all and (min-width: 960px) {
  .site-cookies {
    position: relative;
  }
}
html,
body {
  overflow-x: hidden;
}
html,
body,
#main {
  width: 100%;
  height: 100%;
  min-width: 320px;
}
body {
  position: relative;
}
#main {
  font-size: 1.4rem;
}
.site-wrapper {
  min-height: 100%;
  margin-bottom: -80px;
}
.site-content {
  padding: 20px 0;
}
.inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
@media all and (min-width: 640px) {
  .site-wrapper {
    margin-bottom: -60px;
  }
  .site-wrapper:after {
    height: 60px;
  }
}
@media all and (min-width: 960px) {
  html,
  body {
    overflow-x: initial;
  }
  .site-wrapper {
    margin-bottom: -60px;
  }
  .site-wrapper:after {
    height: 60px;
  }
  .site-content {
    padding: 20px 0;
  }
}
@media all and (min-width: 1400px) {
  .site-wrapper {
    margin-bottom: -50px;
  }
  .site-wrapper:after {
    height: 50px;
  }
  .inner {
    max-width: 1400px;
  }
}
