<div class="site-cookies">
    <div class="sco-text">
        <p class="sco-paragraph">En poursuivant votre navigation sur le site, vous acceptez le dépôt du cookie Google Analytics destiné à améliorer le contenu du site et à faciliter votre navigation sur celui-ci.</p>
        <a class="sco-lnk" href="/page/informations-legales#cookies">En savoir plus</a>
    </div>
    <div class="sco-btn">
        <button type="button" class="sco-close"><span class="sco-bar"></span><span class="sco-bar"></span></button>
    </div>
</div>
