<footer class="site-footer">
    <div class="inner">
        <span class="sf-copyright">© {{ ("now"|date("Y") == "2018" ? '' : "2018 - ") }}{{ "now"|date("Y") }}</span>
         - Footer 
    </div>
</footer>
