<nav class="site-navigation">
    <ul class="sn-list">
        <li class="sn-itm">
            <a href="{{ current_domain ~ '/' }}" class="sn-lnk">Accueil</a>
            <a href="{{ current_domain ~ '/page.html' }}" class="sn-lnk">Page</a>
        </li>
    </ul>
</nav>
